.nav_menu {
  @apply flex flex-col items-start p-4 h-full fixed bg-bg-main_nav;
  width: 264px;
}
.nav_item {
  @apply flex items-center pl-4 pr-14 py-3 my-1 text-grey-m_3 space-x-4 cursor-pointer;
}
.nav_item:hover {
  background-image: url('../../../shared/assets/icon/Navbarbtn.png');
  background-size: 100% 100%;
  backdrop-filter: blur(30px);
  @apply flex items-center pl-4 pr-14 py-3 my-1 text-grey-m_3 space-x-4 cursor-pointer;
}
