.header {
  background: transparent !important;
}

.headerFixed {
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.46) !important;
}

@media screen and (max-width: 992px) {
  .mobileNav {
    position: absolute;
    visibility: hidden;
    top: 0;

    &.mobileNavOpen {
      visibility: visible;
    }

    & .navItem {
      margin-bottom: 0px !important;
    }
  }
}
