.wallet_card {
  background: #050d33;
  border: 1px solid #1f1f5c;
  border-radius: 15px;
  width: 580px;
  height: 192px;
  padding-left: 40px;
}
.copy {
  width: auto;
  height: 20px;
}
.upfill {
  width: auto;
  height: 16px;
}
.trx_filter_btn {
  @apply rounded px-4 py-3 text-grey-m_3;
  font-size: 13px;
  background: #0b082b;
}
