.bg {
  background-color: #01123d;
  background-size: cover;
  position: relative;
  z-index: 2;
  min-height: 100vh;
  margin-top: 0;
}
.profile_text {
  @apply w-full text-grey-m_1 text-center font-normal pt-36;
}
.profile_text_header {
  @apply w-full text-white text-center pt-2;
}
.profile_text_header span {
  @apply text-primary-main pl-2.5;
}
.input {
  background: #0a1f5c;
  border-radius: 5px;
  padding: 12px 24px;
  color: #eff1f6;
  @apply w-full;
}

.start_btn {
  background: #d7007b;
  border-radius: 5px;
  @apply mt-8 text-[15px] text-white py-3 w-full;
}
.flags {
  @apply mt-6;
}
.flags button {
  padding: 12px;
  background: #0a1f5c;
  color: #9eaec7;
  border: none;
  @apply w-full appearance-none;
}
.flags ul {
  list-style-type: none;
  background: #0a1f5c;
  color: #eff1f6;
  border: none;
  padding: 24px 19px;
  border-radius: 5px;
}
.flags li {
  list-style-type: none;
  padding: 13px;
  background: #0a1f5c;
  color: #eff1f6;
}
.flags input {
  background: #071640;
  border-radius: 5px;
  height: 48px;
  padding: 14px 20px !important;
  margin: 0px !important;
}
.flags input[type='text']:focus {
  border: none;
}
.flags div {
  background: #071640;
  border-radius: 5px;
  padding-top: 0px;
}
.flags li:hover {
  background: #0a1f5c;
}
